<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" src="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
       
    </head>

    <body>
         <div class="main-content">
        <p>This site was created by marko Savic.It uses data from mapbox.com and darksky.net</p>
            {{>header}}
        <img class="portrait" src="/img/img.jpeg">
        </div>
    </body>
    {{>footer}}
</html>