<!DOCTYPE html>

<html>

    <head>
        <title>Help</title>
        <link rel="icon" src="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

     <body>
         <div class="main-content">
            {{>header}}
        </div>
    </body>
    {{>footer}}
</html>